body {
    background-color: #F3F5F8;
}
.sample {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.logo {
    width: 500px;
}